
.font-inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: white;
    padding: 16px 120px 16px 120px;
}
div {
     margin: 0px auto;
    display: flex ;
    justify-content: space-between;
}
ul{

    color: black;
    align-items: center;
    display:flex;
        list-style-type: none;
    gap: 32px;
    font-size:medium;}

#btn{
    background-color: forestgreen;
    border: none;
    padding: 12px 16px;
    font-size: medium;
    color: white;
}
#button-color{
    color: white;
}

ul :hover{
    background-color:orangered;
    
}
a{
    text-decoration: none;
    color: black;
}

button :hover{
    background-color:red;

}
.background-picture{
height: 480px;
    background:url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 140px
     295px;
    text-align: center;
    font-size: xx-large;
    color: white
    }
    .image-text{
         width: 640px;
        text-align: center;
        font-size:17px;
        text-transform: inherit;

    }
    #second-text{
        color:forestgreen;
    }
    
#socond-button{
 padding: 12px 16px;
    background-color: forestgreen;
    color:white;
    border: none;
  
}

#third-button{
    padding: 12px 16px;
    background: none;
    color:white;
border-color: white;
}
.color-change {
    color: white;
}
    

button :hover{
    background-color: aquamarine;
}
#top-text{
    text-align: center;
    font-size: medium;
    padding: 5px 8px;
    border-radius:20px;
 }
#top-text-work {
    color: forestgreen;
}

button :hover{
    background-color:orangered;
}
#head-tag{

    text-align: center;
    font-size: 48px;
}
#second-part{
    font-size: 16px;
    font-weight:lighter;
   }

.card{
    width: 300px;
    padding:20px;
text-align: center;
align-items: center;
    border-radius:8px;
    height:300px;
    border: none;
    background-color: white;


    

 }

.card img{
    background-color: brown;
    border-radius: 50%;
    margin:39.5px;
    padding: 18.9px;
    
}
.uto{
    background-color:whitesmoke;


    
}
.card-container{
    display: flex;
    gap:25px;

    }
.card-container :hover{
    background-color:aquamarine;
}

#rop{
    padding:120px;
justify-content: center;
    }

.hoj{
    font-size:20px;
}

.bop{
    display: flex;

}
#uot{
    color: forestgreen;
font-size: medium;
margin-top:35px;
}
#xox{
    font-size:48px;
    font-weight:700;
    margin-top:16px;
}
#gop{
    font-size:16px;

    width:300px;
    margin-top:5px;
    
}
#hoh{
    margin-top: 40px;
}
.fof{
    margin: 60px;
}
#hoh :hover{
    background-color:sandybrown;
}





