
.font-inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: white;
    padding: 16px 120px 16px 120px;
}
div {
     margin: 0px auto;
    display: flex ;
    justify-content: space-between;
}
ul{

    color: black;
    align-items: center;
    display:flex;
        list-style-type: none;
    gap: 32px;
    font-size:medium;}

#btn{
    background-color: forestgreen;
    border: none;
    padding: 12px 16px;
    font-size: medium;
    color: white;
}
#button-color{
    color: white;
}

ul :hover{
    background-color:orangered;
    
}
a{
    text-decoration: none;
    color: black;
}

button :hover{
    background-color:red;

}
.background-picture{
height: 1363px;
    background:url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 140px
     295px;
    text-align: center;
    font-size: xx-large;
    color: white
    }
    .image-text{
         width: 640px;
        text-align: center;
        font-size:17px;
        text-transform: inherit;

    }
    #second-text{
        color:forestgreen;
    }
    
#socond-button{
 padding: 12px 16px;
    background-color: forestgreen;
    color:white;
    border: none;
  
}

#third-button{
    padding: 12px 16px;
    background: none;
    color:white;
border-color: white;
}
.color-change {
    color: white;
}
    

button :hover{
    background-color: aquamarine;
}
#top-text{
    text-align: center;
    font-size: medium;
    padding: 5px 8px;
    border-radius:20px;
    
     }
#top-text-work {
    color: forestgreen;
}

button :hover{
    background-color: aqua;
}


        
    