
.font-inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: white;
    padding: 16px 120px 16px 120px;
}
div {
     margin: 0px auto;
    display: flex ;
    justify-content: space-between;
}
ul{

    color: black;
    align-items: center;
    display:flex;
        list-style-type: none;
    gap: 32px;
    font-size:medium;}

#btn{
    background-color: forestgreen;
    border: none;
    padding: 12px 16px;
    font-size: medium;
    color: white;
}
#button-color{
    color: white;
}

ul :hover{
    background-color:orangered;
    
}
a{
    text-decoration: none;
    color: black;
}

button :hover{
    background-color:red;

}
.background-picture{

height:480px;
    background:url(B13-A01-Knowledge-Vault/assets/hero-bg.png);
    background-repeat: no-repeat;
    background-image:cover;
    background-position:center;
    padding:140px
     295px;
    text-align: center;
    font-size: xx-large;
    color: white
    }
    .image-text{
         width: 640px;
        text-align: center;
        font-size:17px;
        text-transform: inherit;

    }
    #second-text{
        color:forestgreen;
    }
    
#socond-button{
 padding: 12px 16px;
    background-color: forestgreen;
    color:white;
    border: none;
  border-radius:5px;
}

#third-button{
    padding: 12px 16px;
    background: none;
    color:white;
border-color: white;
border-radius:5px ;
}
.color-change {
    color: white;
}
    

button :hover{
    background-color: aquamarine;
}
#top-text{
    text-align: center;
    font-size: medium;
    padding: 5px 8px;
    border-radius:20px;
 }
#top-text-work {
    color: forestgreen;
}

button :hover{
    background-color:orangered;
}
#head-tag{

    text-align: center;
    font-size: 48px;
}
#second-part{
    font-size: 16px;
    font-weight:lighter;
    color: #627382;
   }

.card{
    width: 300px;
    padding:20px;
text-align: center;
align-items: center;
    border-radius:8px;
    height:300px;
    border:8px;
    background-color: white;


    

 }

.card img{
    background-color: brown;
    border-radius: 50%;
    margin:39.5px;
    padding: 18.9px;
    
}
.cards-background{
    background-color:whitesmoke;
padding-top:24px ;
    }
   
.card-font-colour{
    color: #627382;
}  


.card-container{
    display: flex;
    gap:25px;

    }
.card-container :hover{
    background-color:aquamarine;
}

.Second-Brain-Section{
    padding:120px;
width: 1360px;
height: 600px;
margin-left: auto;
margin-right: auto;
    }

.text-items-accordingly{
    font-size:20px;
 
}

.Second-Brain-Section-display{
    display: flex;

}
#title-font-colour{
    color: forestgreen;
font-size: medium;
margin-top:35px;
}
#Second-Brain-Section-display-second-title{
    font-size:48px;
    font-weight:700;
    margin-top:16px;
}
#gap{

    font-size:16px;

    width:300px;
    margin-top:5px;
    
}
#check-circle-part{
    margin-top: 40px;
}
.Second-Brain-Section-display-title{
    margin: 60px;
}

#thin-text{
color: #627382;

}
#check-circle-part :hover{
    background-color:sandybrown;
}

.Early-Access-Section-title{
  
    text-align: center;
    padding:120px 120px;
    background-color:whitesmoke;
    margin-top:12px;
}

#second-part-font-colour{
color: #627382;

}
#fourth-part-font-colour{
    color: #627382;
}
#Early-Access-Section-button{
    margin-top:5px;
    padding: 12px 16px;
    background-color: forestgreen;

}
#Early-Access-Section-button :hover{
    background-color: orangered;
}

#Early-Access-Section-button-text{
    color:white;
}
.Early-Access-Section{

    padding:120px;
}

.footer-container{
  background: var(--Style, rgba(0, 25, 49, 1));
  height: 348px;
 padding:120px 120px 30px 120px;

 }
 #footer-text{
    color: white;
font-size:20px;

 }
 .footer-logos{
    background-color:white;
    border-radius: 50%;
    padding:1px;
  margin: 5px;

   }
.footer-section{
 text-align: right;
} 

#footer-last-part{
text-align: center;
color: white;
}




